# Configuration de base de données
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=442002plams
DB_NAME=gestion_magasin

# Configuration JWT
JWT_SECRET=votre_secret_tres_long_et_complexe_ici_2024
JWT_EXPIRES_IN=24h

# Port du serveur
PORT=3000
HOST=0.0.0.0
